/* Reeescribe el popup */
._iuz.anger {
    background-image: url('http://i.imgur.com/zg2eb92.png');
}

/* Reescribe las reacciones */

._2p79.anger, ._2p7a.anger {
    background-image: url('http://i.imgur.com/zg2eb92.png');
    background-size: contain;
}



